# macOS
.DS_Store

# Emacs
*~
\#*\#
*.elc
auto-save-list
eshell/
history
url/

# Emacs Packages
.org-id-locations
.python-environments
ac-comphist.dat
elpa/
projectile-bookmarks.eld
speed-type/
recentf
tramp
